.result {
    padding-top: 140px;
    padding-bottom: 91px;
    text-align: center;
}

.result .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.result-image {
    position: absolute;
    top: 75px;
    z-index: -1;
}

.result-title {
    max-width: 588px;
    margin-bottom: 60px;
}

.result-score {
    background-image: url("/images/result.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-size: 158px;
    color: #FFFFFF;
}

